.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36.876rem;
  height: 22.625rem;
  background-color: var(--background-color);
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-modal {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  img {
    width: 3rem;
    height: 3rem;
  }

  h1 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 2.125rem;
    font-size: 2rem;
  }

  p {
    color: var(--paragraph-basic-color);
    font-family: "Roboto", sans-serif;
    line-height: 1.625rem;
    font-size: 1rem;
  }

  .buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    button {
      background-color: var(--background-gray-color);
      color: var(--paragraph-basic-color);

      & + button {
        background-color: var(--red-button-color);
        color: var(--background-textarea-color);
      }
    }
  }
}
