.room-code {
  height: 2.5rem;
  border-radius: 0.5rem;
  overflow: hidden;

  background: var(--background-lighter-color);
  border: 0.0625rem solid var(--main-button-color);
  cursor: pointer;

  display: flex;

  div {
    background: var(--main-button-color);
    padding: 0 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 1rem 0 0.75rem;
    width: 15rem;
    font-size: 0.875rem;
    font-weight: 500;
  }
}
